<html>
    <head>
        <meta charset="UTF-8">
        <title>Log In</title>
    </head>
    <body>
        <% if (locals.user) { %>
            <h1>Hello <%= user.username %></h1>
            <% if (locals.files) { %>
                <ul class="files-list">
                    <% files.forEach(function(file) { %>
                      <li><a href="<%= file.path %>"><%= file.filename %></a></li>
                    <% }); %>
                </ul>
            <% } %>
            <% if (locals.folders) { %>
                <ul class="folders-list">
                    <% folders.forEach(function(folder) { %>
                      <li><a href="/folder/<%= folder.id %>"><%= folder.title %></a></li>
                    <% }); %>
                </ul>
            <% } %>
            <a href="logout">Log out</a>
        <% } else { %>
            <%- include('login') %>
        <% } %>
    </body>
</html>