<html>
    <head>
        <meta charset="UTF-8">
        <title>Folder Files</title>
        <link rel="stylesheet" href="/css/list.css">
    </head>
    <body>
        <div id="content">
            <%- include("../partials/header", { user: user }) %>
            <div id="middle">
                <div class="list-all">
                    <% if (locals.folder) { %>
                        <h2 class="folder-name">
                            <% folderPath.forEach((folderName, index) => { %>
                              <%= folderName %><% if (index < folderPath.length - 1) { %> &gt; <% } %>
                            <% }) %>
                          </h2>                          
                    <% } %>
                    <div class="details">
                        <div>
                            <p>Name</p>
                            <a href="<%= `/folder/${folder.id}/upload-file`%>">
                                <img src="/images/file-document-plus-outline.svg" height="25" width="25" class="add-file-btn">
                            </a>
                            <a href="<%= `/folder/create/${folder.id}` %>">
                                <img src="/images/folder-plus-outline.svg" height="25" width="25" class="add-folder-btn">
                            </a>
                        </div>
                        <div class="end-detail">
                            <p>File size</p>
                            <img src="/images/dots-vertical.svg" height="20" width="20">
                        </div>
                    </div>

                    <% if (locals.allChildrenFolders) { %>
                        <% allChildrenFolders.forEach(folder => { %>
                            <%- include("../partials/folder", { folder: folder }) %>
                        <% }) %>
                    <% } %>

                    <% if (locals.allFiles) { %>
                        <% allFiles.forEach(file => { %>
                            <%- include("../partials/file", { file: file }) %>
                        <% }) %>
                    <% } %>
                    
                    <% if (locals.allFiles.length === 0 && locals.allChildrenFolders.length === 0) { %>
                        <%- include('../partials/empty', { folder: folder }) %>
                    <% }%>
                </div>
            </div>
        </div>
    </body>
</html>