<html>
    <head>
        <meta charset="UTF-8">
        <title>Folder Files</title>
        <link rel="stylesheet" href="/css/list.css">
    </head>
    <body>
        <div id="content">
            <%- include("../partials/header", { user: user }) %>
            <div id="middle">
                <div class="list-all">
                    <% if (locals.folderName) { %>
                        <h2 class="folder-name">Folder > <%= folderName %></h2>
                    <% } %>
                    <div class="details">
                        <div>
                            <p>Name</p>
                            <a href="<%= `/folder/${folderId}/upload-file`%>">
                                <img src="/images/plus.svg" height="20" width="20" class="add-btn">
                            </a>
                        </div>
                        <div class="end-detail">
                            <p>File size</p>
                            <img src="/images/dots-vertical.svg" height="20" width="20">
                        </div>
                    </div>

                    <% if (locals.allFiles) { %>
                        <% allFiles.forEach(file => { %>
                            <%- include("../partials/file", { file: file }) %>
                        <% }) %>
                    <% } %>
                    
                    <% if (locals.allFiles.length === 0) { %>
                        <div class="no-files">
                            <img src="/images/file-hidden.svg" alt="No files" class="no-files-icon" height="40" width="40">
                            <h1 class="no-file-header">No files yet</h1>
                            <p class="no-file-text">Start by uploading a file.</p>
                            <div class="no-file-actions">
                                <a href="<%= `/folder/${folderId}/upload-file`%>" class="action-btn">Upload File</a>
                            </div>
                        </div>
                    <% }%>
                </div>
            </div>
        </div>
    </body>
</html>