<html>
    <head>
        <title>File Details</title>
    </head>
    <body>
        <div class="file-details">
            <h1>File Details</h1>
            <% if (locals.file) { %>
                <div class="details-cont">
                    <p>Name: <%= file.filename %></p>
                    <p>Size: <%= file.size %></p>
                    <a href="<%= file.path %>" target="_blank" rel="noopener noreferrer">View file</a>
                    <a href="#" onclick="downloadFromSupabase('<%= file.path %>', '<%= file.filename %>')">Download</a>
                    <script>
                        async function downloadFromSupabase(url, filename) {
                            const response = await fetch(url);
                            const blob = await response.blob();
                            const blobUrl = URL.createObjectURL(blob);

                            const a = document.createElement('a');
                            a.href = blobUrl;
                            a.download = filename;
                            a.click();

                            URL.revokeObjectURL(blobUrl);
                        }
                    </script>
                </div>
            <% } %>
        </div>
    </body>
</html>